<ion-header>
  <ion-toolbar>
    <ion-title>Quiz List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="quizzes$ | async as quizzes">
    <ion-item *ngFor="let quiz of quizzes" [routerLink]="['/quiz', quiz.id]">
      <ion-label>{{ quiz.title }}</ion-label>
      <ion-badge *ngIf="quiz.mark; else toDo" slot="end" color="primary"> {{ quiz.mark }} </ion-badge>

      <ng-template #toDo>
        <ion-badge slot="end" color="warning"> TO DO </ion-badge>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
